


.dropdown-item {
  background-color: #829c79 !important;
}

.dropdown-item:hover {
  background-color: #739268 !important;
}

.dropdown-item a {
  padding-right: 50px;
  color: white !important;
}


.dropdown-item a:hover {
 text-decoration:  none !important;
}
