

#expandedListOverlay {
  position: fixed; /* Sit on top of the page content */
  display: block;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 50px;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.95); /* Black background with opacity */
  z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  color: #f7f1f1;
  overflow-y: scroll;
  padding: 0px;
}

.my-pagination /deep/ .ngx-pagination {
  text-align: right;
}

.my-pagination /deep/ .ngx-pagination a {
  color: #20a8d8;
}

.my-pagination /deep/ .ngx-pagination .current {
  /*background: red;*/
}
.Selected{
  background-color:#20a8d8 !important;
  color: white !important;
  
  }


