.patientBannerHolder {
  background-color: rgb(246, 242, 242);
  margin-left: 3px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 7px;

}

.Reference_weight {
  width: 40px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("/assets/images/Reference_weight.svg");
  background-position: center;
}

.Reference_height {
  width: 40px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("/assets/images/Reference_height.svg");
  background-position: center;
}


