

.Selected {
  background-color: #8f8f8f !important;
  color: white !important;
  /*border-left: 2px solid #220b5b;*/
  /*border-right: 5px solid #220b5b;*/
  border-top: 1px solid #f7f6f2;
  border-bottom: 1px solid #f7f6f2;
  padding:3px;
}
