
.dropbtn {

  color: white;

  font-size: 13px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f0f0;
  width: 100%;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
  right: -20px;
  /* margin-left: -50ch; */
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.badge { margin-right: 8px; padding: 7px !important;}

@media (max-height: 500px) {
  .dropdown-content{
    border: 2px solid #535e7e;
    max-height:250px;
      overflow-y:auto;
  }
}
