
.panel-heading.collapsed .icon-arrow-up,
.panel-heading .icon-arrow-down {
  display: none;
}

.panel-heading.collapsed .icon-arrow-down,
.panel-heading .icon-arrow-up {
  display: inline-block;
}

i.icon-arrow-up, i.icon-arrow-down {
  cursor: pointer;
}

.collapsed ~ .panel-body {
  padding: 0;
  overflow-y: auto;
}


.dropbtn {

  color: white;

  font-size: 13px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -150px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}




